<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body style="background-color: darkslategrey;">
        <h1 style="color: white;">THE COMMANDMENTS OF MUSCLE GROWTH</h1>
        <div style="background-color: lightsteelblue;">
<h2>The laws of muscle growth are as certain, observable, and irrefutable as those of physics.
These principles have been known and followed for decades by people who built some of the greatest physiques we’ve ever seen. reflection. They are practical. Follow them, and you get immediate results.</h2> 
<ul>
    <li>
        <h1>THE FIRST LAW OF MUSCLE GROWTH:</h1>
        <h2>Muscles Grow Only if They’re Forced to</h2>
    </li>
    <li>
        <h1>THE SECOND LAW OF MUSCLE GROWTH:</h1>
        <h2>Muscles Grow from Overload, Not Fatigue or “Pump”</h2>
    </li>
    <li>
        <h1>THE THIRD LAW OF MUSCLE GROWTH:</h1>
        <h2>Muscles Grow Outside the Gym</h2>
    </li>
    <li>
        <h1>THE FOURTH LAW OF MUSCLE GROWTH:</h1>
        <h2>Muscles Grow Only if They’re Properly Fed</h2>
    </li>

</ul>



<h2>We will discuss each law in detail below</h2>


<ul>
    <li>
        <h1>Muscles Grow Only if They’re Forced to</h1>
        <ul>
            <li>
                <h2>This law may seem obvious and not worth stating, but trust me, most people just don’t get it. By lifting weights, you are actually causing tiny tears (known as “micro-tears”) in the muscle fibers, which the body then repairs, adapting the muscles to better handle the stimulus that caused the damage. This is the process by which muscles grow (scientifically termed hypertrophy).</h2>
            </li>
            <li>
                <h2>For optimal muscle growth, you must lift in such a way that causes optimal micro-tearing and then you must feed your body what it needs to grow and give it the proper amount of rest.</h2>
            </li>
        </ul>
    </li>
    <li>
        <h1>Muscles Grow from Overload, Not Fatigue or “Pump”</h1>
        <ul>
            <li>
                <h2>While many guys think a burning sensation in their muscles is indicative of an intense, “growth-inducing” workout, it’s actually not an indicator of an optimum workout. </h1>
            </li>
            <li>
                <h2>The “burn” you feel is simply an infusion of lactic acid in the muscle, which is produced as a muscle burns its energy stores. Lactic acid tells the body to start producing anabolic hormones, but too much impairs muscle growth and causes tissues to break down.</h2>
            </li>
            <li>
                <h2>Muscle pump is also not a good indicator of future muscle growth. which cells build proteins), it’s not a primary driver of growth.</h2>
            </li>
            <li>
                <h2>What triggers muscle growth, then? Overload. Muscles must be given a clear reason to grow, and overload is the best reason. That means heavy weights, and short, intense sets of relatively low reps. This type of training causes optimal micro-tearing for strength and growth gains, and forces the body to adapt.</h2>
            </li>
        </ul>
    </li>
    <li>
        <h1>Muscles Grow Outside the Gym</h1>
        <h4>Muscles doesn’t grow in gym they are destroyed in gym and later when you get home and eat properly  and take rest properly.
            they repair themelves and become thicker denser and stronger than before</h4>
    </li>
    <li>
        <h1>Muscles Grow Only if They’re Properly Fed</h1>
        <ul>
            <li>
                <h2>How important is nutrition? Nutrition is nearly everything. Simply put, your diet determines about 70 – 80% of how you look (muscular or scrawny, ripped or flabby).</h2>
            </li>
            <li>
                <h2>You could do the perfect workouts and give your muscles the perfect amount of rest, but if you don’t eat correctly, you won’t grow—period.</h2>
            </li>
        </ul>
    </li>
</ul>
</div>

    </body>
</html>