<!DOCTYPE html>
<html>
    <head style="background-color: aqua;">
        <h1 style="text-align: center;">Welcome to fitnerd</h1>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body style="background-color:darkgrey">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand">Fitnerd</a>
              </div>
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="men">Men</a></li>
                <li><a href="./women">Women</a></li>
                <li><a href="bmi">BMI</a></li>
                <li><a href="calculator">Macronutrients</a></li>
                <li><a href="aboutUs">About Us</a></li>
              </ul>
            </div>
          </nav>
        <div>
            <div class="card" style="width: 50rem; margin-left: 40%;box-shadow: 5px 10px 18px #888888;">
                <img class="card-img-top" src="/static/menRunning.jpg" alt="Card image cap" style="width:100%">
                <div class="card-body">
                <h5 class="card-title">THE 6 BIGGEST MYTHS & MISTAKES in BUILDING MUSCLES</h5>
                <p class="card-text">Nine out of ten guys you see in the gym don’t train correctly. In many cases, I wouldn’t even bother getting out of bed in the morning to do their training routines....</p>
                <a href="men" class="btn btn-primary">Go in Detail</a>
                </div>
            </div>
            <br/>
            <div class="card" style="width: 50rem;margin-left: 40%;box-shadow: 5px 10px 18px #888888;">
                <img class="card-img-top" src="/static/womenrunning.jpg" alt="Card image cap" style="width:100%">
                <div class="card-body">
                <h5 class="card-title">THE 8 BIGGEST MUSCLE BUILDING MYTHS & MISTAKES in Women’s fitness</h5>
                <p class="card-text">MYTH & MISTAKE #1:
                    The Lies of Toning and Shaping...</p>
                <a href="women" class="btn btn-primary">Go in detail</a>
                </div>
            </div>
            <br/>
            <div class="card" style="width: 50rem;margin-left: 40%;box-shadow: 5px 10px 18px #888888;">
                <img class="card-img-top" src="/static/Mota.jpg" alt="Card image cap" style="width:100%">
                <div class="card-body">
                <h5 class="card-title">THE COMMANDMENTS OF MUSCLE GROWTH</h5>
                <p class="card-text">The laws of muscle growth are as certain, observable, and irrefutable as those of physics.</p>
                <a href="common" class="btn btn-primary">Go in detail</a>
                </div>
            </div>
        </div>

            
    </body>
</html>