<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body style="background-color: darkslategrey;">
        <h1 style="color: white;">THE 8 BIGGEST MUSCLE BUILDING MYTHS & MISTAKES in Women’s fitness</h1>
        <div style="background-color: lightsteelblue;">
        <ul>
            <li>
                <h1>MYTH & MISTAKE #1:</h1>
                <h2>The Lies of Toning and Shaping</h2>
            </li>
            <li>
                <h1>MYTH & MISTAKE #2:</h1>
                <h2>Lifting Weights Will Make You Bulky</h2>
            </li>
            <li>
                <h1>MYTH & MISTAKE #3:</h1>
                <h2>The More You Exercise, the Better</h2>
            </li>
            <li>
                <h1>MYTH & MISTAKE #4:</h1>
                <h2>You Have to “Feel the Burn” to Get Bigger and Stronger Muscles</h2>
            </li>
            <li>
                <h1>MYTH & MISTAKE #5:</h1>
                <h2>Wasting Time with the Wrong Exercises</h2>
            </li>
            <li>
                <h1>MYTH & MISTAKE #6:</h1>
                <h2>Training Like an Idiot</h2>
            </li>
            <li>
                <h1>MYTH & MISTAKE #7:</h1>
                <h2>Training Like a Wussy</h2>
            </li>
            <li>
                <h1>MYTH & MISTAKE #8:</h1>
                <h2>Eating to Stay Weak or Get Fat</h2>
            </li>

        </ul>
        </div>
    </body>
</html>